* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 2;
}

body {
    font-size: calc(0.75em + .9vmin);
}

.purpose_background {
    width: 100%;
    /* padding: 100px 150px 150px 150px;*/
    padding: 5%;
    background-color: #EEEEEE;

}

.why-here {
    text-align: center;
    position: relative;
    width: 100%;

}

.title-block {
    text-align: center;
    padding: 5%;
}

.purpose_background2 {

    padding: 5%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.pillars-background {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0%;
    background-color: #EEEEEE;

}

.pillars-background-pillars {
    width: 100%;
    padding: 0px 150px 50px 150px;
    background-color: #EEEEEE;

}

.team-title,
.member-eligibility-title,
.become-member-title,
.boardOfDirectors,
.title,
.membership-process-title,
.lets-connect-title,
.safety-title,
.providing-security-title,
.apprenticeship-title,
.tutoring_process-title {
    width: 100%;
    font-size: 200%;
}

.title,
.title1,
.boardOfDirectors,
.team-title,
.become-member-title,
.member-eligibility-title,
.membership-process-title,
.lets-connect-title,
.safety-title,
.providing-security-title {
    text-align: center;
    position: relative;
    display: block;
}

.title1 {
    padding-top: 10px;
}

.purpose-title {
    font-family: sans-serif;
    color: #314572;
    padding: 0;
    width: 100%;
    font-size: 200%;
}

.title-our-purpose {}

.block1 {
    width: 100%;
    float: left;
}

.block2 {}

.p-head1 {
    float: left;
    font-size: 200%;
}

.p-head2 {
    float: right;
    text-align: right;
    margin-top: 0px;
    font-size: 200%;
}

.para1 {

    width: 100%;
}

.purpose-para.para2 {
    text-align: right;
    width: 100%;
    padding-left: 50%;
}

.purpose-para {
    padding: 5%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    font-size: 20px;
    font-weight: bold;
}



.wBox {
    background-color: white;
    width: 100%;
    height: 100%;
}

.pillar-para1 {
    width: 100%;
    text-align: center;
    padding: 10%;
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;

}



.pillar {
    width: 100%;
    color: #314572;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1%;
}

.different_background {

    margin: 10%;
    padding: 10%;
    padding-bottom: 15%;


}

.different-title {
    text-align: center;
    width: 100%;
    margin-left: 10%;
}

.diff-title {
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #314572;
    width: 100%;
    font-size: 200%;
}

.diff-content {
    width: 100%;
    padding-bottom: 5%;

}

.diff-content1 {

    text-align: left;
    margin-right: 30%;
    margin-left: 10%;
    font-weight: bold;
}

.diff-content2 {

    text-align: right;
    margin-left: 25%;
    margin-right: 10%;
    font-weight: bold;
}


.our-values-background {
    background-color: #314572;
    width: 100%;
    color: white;
    padding: 5%;
}

.value-title {
    width: 100%;
    border-right: 2px solid;
    border-color: white;
    height: 100%;
    text-align: right;
    font-size: 250%;
    padding-right: 10%;
}

.borderless {
    border: 0px;
}

.leftTable {
    padding: 5%;
    font-size: 130%;
}

.rightTable {
    padding: 5%;
}




/*small screen code starts here*/

@media only screen and (max-width: 768px) {
    .navigation-bar {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .row.options {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }

    .logo {
        padding: 0;
        padding-top: 5%;
        width: 100%;
        height: 100%;
    }

    p {
        text-align: justify;
        text-justify: inter-word;
    }

    .nav-item,
    .nav-link {
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }

    .purpose-background {
        padding: 10%;
        width: 100%;

    }

    .purpose-background2 {
        width: 100%;
        margin: 0;
    }

    .why-here {
        text-align: center;
        position: relative;
        width: 100%;
        font-size: 100%;
    }


    i.fas.fa-map-marker-alt {
        font-size: 36px;
    }

    .title {
        font-size: 200%;
        width: 100%;
        padding-bottom: 0;
    }

    .title1 {
        width: 100%;
        font-size: 100%;
        text-align: center;
        font-weight: bold;
        text-align: center;

    }



    .p-head1,
    .p-head2 {
        text-align: center;
    }

    .purpose-para.para1,
    .purpose-para.para2 {
        text-align: center;

    }


    .block1,
    .block2,
    .purpose-para.para1,
    .purpose-para.para2 {
        display: block;
        margin: 0;
        text-align: center;
        width: 100%;
        padding: 5%;


    }

    .pillar-para1 {

        width: 100%;
        text-align: center;
        padding: 2%;
        font-weight: bold;
        padding-top: 0;
        margin-top: 0;
    }

    .wBox {
        width: 200%;
        padding: 0;
        position: relative;
        height: 95%;

    }

    .col-sm-3 {
        position: relative;
    }

    .pillars-background {
        padding-left: 25%;
        padding-bottom: 0;
    }

    .pillars-background-pillars {
        width: 100%;
        padding-left: 5%;
        padding-right: 50%;
        background-color: #EEEEEE;

    }

    .title-our-purpose {}

    .navbar-nav {
        float: left;
    }

    .our-values-background {
        background-color: #314572;
        width: 100%;
        color: white;
        padding: 5%;
    }

    .value-title {
        border-right: none;
        border-bottom: 2px solid;
        border-color: white;
        width: 100%;
        text-align: right;
        font-size: 300%;
        padding-right: 10%;
    }

    td {
        width: ;
    }

    .leftTable {
        width: 10%
    }

    .rightTable {
        width: 100%;
    }

    /*our team CSS*/

    .team-about,
    .team-para {
        padding: 0;
        margin: 0;
        width: 100%;
    }


}



/*@media only screen and (min-width: 2048px) {
    .logo {
        margin-left: 40%;
    }

    .nav-item {
        text-align: center;
        margin-left: 5%;
    }

    .title {
        font-size: 18px;
        width: 100%;
    }

    .title1 {
        width: 100%;
        font-size: 12px;
    }

    .p-head2 {
        text-align: center;
    }

    .para1,
    .para2 {
        display: block;
        margin: 0;
        text-align: left;
        width: 100%;
    }


}*/
