.safetyStandards-head-div {
    padding: 10%;
}

.safetyStandard-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1em;

}

.safety-title {
    width: 100%;
    font-size: 180%;
    text-align: right;
}

.safetyStandard-update {
    text-align: left;
    padding: 2% 0 0 25%;
    font-size: 120%;
    letter-spacing: 2px;
}

.providing-security-para {
    padding: 5% 20% 5% 20%;
    font-weight: 100;
    text-align: center;
    font-size: 120%;
}

.plan-div {
    padding: 10%;
}

.plan-title {
    width: 100%;
    font-weight: bolder;
    font-size: 200%;
}

.plan-list {
    width: 100%;
    padding-top: 3%;
    font-weight: 100;
    font-size: 150%
}

@media only screen and (max-width: 768px) {

    .safetyStandard-update {
        text-align: left;
        padding-left: 0;
        font-size: 120%;
        letter-spacing: 2px;
    }


}
